//Profile config names for nf-core/configs
params {
  config_profile_description = 'profile for gruffalo'
  config_profile_contact = 'Paul Johnston'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 192.GB ? (task.time <= 6.h ? 'short' : task.time <= 24.h ? 'medium' : 'long') : 'himem'}
}

singularity {
  enabled = true
}

process {
    withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KRAKENUNIQ_PRELOADEDKRAKENUNIQ' {
        time = 168.h
	memory = '300 GB'
    }
}
