//Profile config names for nf-core/configs
params {
  config_profile_description = 'profile for gruffalo'
  config_profile_contact = 'Paul Johnston'
}

process {
  executor = 'slurm'
  queue = { task.time <= 6.h ? 'short' : task.time <= 24.h ? 'medium' : 'long'}
}

singularity {
  enabled = true
}

